$first-color: #139705;
$secondary-color: #1fc20e;

@mixin link-style {
    a {
        color: inherit;
        display: block;
        text-decoration: none;

        &:hover {
            color: $secondary-color;
        }

        &.active {
            border-bottom: 4px solid $first-color;
            border-radius: 2px;
        }
    }
}

@import "./header";
@import "./layout";
@import "./footer";
@import "./home";
@import "./contact";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
}

body {
    background-color: rgb(239, 239, 239);
    color: rgb(50, 50, 50);
}

#root {
    display: grid;
}

main {
    min-height: 80vh;

    h1 {
        font-size: 4em;
        text-align: center;
    }
}
