.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    span {
        display: grid;
        justify-items: center;
    }

    h1 {
        grid-column: 1 / 4;
    }

    i {
        font-size: 3em;
    }

    figure {
        grid-column: 1 / 4;
        width: 50%;
    
        img {
            width: 100%;
            -webkit-filter: blur(3px);
            filter: blur(3px);
            transition-duration: 0.5s;
    
            &:hover {
                -webkit-filter: none;
                filter: none;
                transition-duration: 0.5s;
            }
        }
    }
}